<!-- <app-profile-editor></app-profile-editor> -->
<!-- <button
  mat-button
  color="#EAB308"
  style="
    all: unset;
    background-color: #eab308;
    height: 40px;
    width: 150px;
    color: #ffffff;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
  "
  [routerLink]="['/schedule-ride']"
>
  Schedule a Ride
</button> -->
<!-- <app-schedule-ride></app-schedule-ride> -->

<div
  style="
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  "
>
  <h1>{{ formName }}</h1>
<p>Welcome to KSU Ride Share. Your trusted campus ride sharing service.</p>

  <!-- <app-schedule-ride></app-schedule-ride> -->
  <!-- <app-driver></app-driver>
  <app-driverslist></app-driverslist> -->
  <app-navigation-menu></app-navigation-menu>
  <router-outlet></router-outlet>
</div>
