

<button
  mat-button
  [routerLink]="['/driver/listDrivers']"
  style="
    all: unset;
    background-color: #eab308;
    height: 40px;
    width: 150px;
    color: #ffffff;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
  "
>
  List Drivers
</button>
<button
  mat-button
  [routerLink]="['/driver/addDriver']"
  style="
    all: unset;
    background-color: #eab308;
    height: 40px;
    width: 150px;
    color: #ffffff;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
  "
>
  Add Drivers
</button>
<!-- </mat-menu> -->
<button mat-button routerLink="/rider">Rider Registration</button>
<button
  mat-button
  color="#EAB308"
  style="
    all: unset;
    background-color: #eab308;
    height: 40px;
    width: 150px;
    color: #ffffff;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
  "
  [routerLink]="['/schedule-ride']"
>
  Schedule a Ride
</button>
