.container {
  max-width: 30rem;
  margin: 0 auto;
  margin-top: 2rem;
  background-color: #fff;
  padding: 1.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

.container h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.form-field input,
.form-field select,
.form-field button {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  box-sizing: border-box;
}

.form-field button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-field button:hover {
  background-color: #0056b3;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

ul li span {
  flex: 1;
}

ul li button {
  background-color: #dc3545;
  color: #fff;
}

ul li button:hover {
  background-color: #c82333;
}

.map-container {
  height:200px
}