<div class="container" style="width: 512px">
  <h2>{{ mode }} Ride</h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="rideForm">
    <div class="form-field">
      <input type="date" placeholder="Date" formControlName="date" />
    </div>

    <div class="form-field">
      <input type="time" placeholder="Time" formControlName="time" />
    </div>

   
    <p>Destination</p>
    <div #mapContainer class="map-container"></div>
    <div class="form-field">
      <input
        type="text"
        placeholder="Destination"
        formControlName="destination"
      />
    </div>
    <div class="form-field">
      <label>Driver</label>
      <select formControlName="driver">
        <option value="driver1">Driver 1</option>
        <option value="driver2">Driver 2</option>
      </select>
    </div>

    <div class="form-field">
      <button type="submit">Submit</button>
    </div>
  </form>

  <ul>
    <li *ngFor="let ride of rides">
      <span>{{ ride.date }}</span>
      <span>{{ ride.time }}</span>
      <span>{{ ride.destination }}</span>
      <span>{{ ride.driver }}</span>
      <button (click)="editRide(ride)">Edit</button>
      <button (click)="deleteRide(ride)">Delete</button>
    </li>
  </ul>
</div>
